.idea
server/.idea

web/slate-nft/*.log
web/slate-nft/*.tsbuildinfo
.DS_Store
web/slate-nft/.env*
web/slate-nft/.vercel
web/slate-nft/.next/
web/slate-nft/node_modules/
web/slate-nft/out/

web/!.env.example
/web/slate-nft/.yarnrc.yml
